<%- include('partials/_header') %>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-dismissible alert-danger">
                
                <strong>Poxa! Houve Algum erro. Tente novamente ou entre em contato com o suporte técnico e informe o que estava tentando fazer.</strong> 
                <strong><a href="http://api.whatsapp.com/send?1=pt_BR&phone=5511972813500">Clique aqui - Suporte - Whatsapp</a></strong>
            </div>
        </div>
    </div>
</div>

